@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@0,100..900;1,100..900&family=Zen+Dots&display=swap');


@import "tailwindcss";

.toast-background {
  background-color: rgb(70, 69, 69) !important;
  color: #fff !important;
}

.react-datepicker {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    background-color: #5d6068 !important;
    color: #ffffff !important;
    border: none !important;
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    line-height:initial;
}
.react-datepicker__time-list-item {
    
    background-color: #5d6068 !important;
    color: #ffffff !important;
    border: none !important;
    
}
.react-datepicker__time-container{
    
    border-left: 2px solid #353535 !important;
    
}
.react-datepicker__header {

    background-color: #45474d !important;
    border-bottom: 3px solid #353535 !important;
    color: #e0e0e0 !important;
}
.react-datepicker__current-month {


    color: #cecece !important;
}

.react-datepicker__day {
    font-family: "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 0.8rem;
    /* background-color: #a5a5a5; */
    color: #e0e0e0 !important;
    /* border: 1px solid #aeaeae; */
    border-radius: 0.3rem;
    display: inline-block;
    position: relative;
    line-height: initial;
}
.react-datepicker__day-name {
    
    /* background-color: #a5a5a5; */
    color: #a3a3a3 !important;
    /* border: 1px solid #aeaeae; */
    border-radius: 0.3rem;
   
}

body{
  @apply select-none;
}

@layer base {
  * {
    font-family: Outfit;
    margin: 0;
    
  }
}

@layer components {
  .login-button {
    @apply relative px-4 py-2 rounded-lg bg-cyan-400 text-gray-800 font-semibold shadow-md transition-all duration-300 hover:bg-black hover:text-white hover:shadow-xl after:content-[""] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-300 hover:after:left-0 hover:after:w-full
  }

  .nav-link {
    @apply text-gray-400 hover:text-gray-100 hover:transform relative after:content-[""] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-300 hover:after:left-0 hover:after:w-full
  }

  .nav-link-active {
    @apply pointer-events-none text-gray-100 relative after:content-[""] after:absolute after:bottom-0 after:h-[2px] after:bg-white after:left-0 after:w-full
  }

  .nav-link-mobile {
    @apply text-gray-400 block w-full text-2xl my-5 py-1
  }

  .nav-link-mobile-active {
    @apply pointer-events-none text-gray-100 underline-offset-15 underline
  }

  .sidebar-link {
    @apply block w-full text-center py-3 border-b-1 border-black cursor-pointer text-gray-400 bg-gray-800 hover:bg-gray-700 hover:text-gray-100 hover:transform relative after:content-[""] after:absolute after:left-1/2 after:bottom-0 after:w-0 after:h-[2px] after:bg-white after:transition-all after:duration-300 hover:after:left-0 hover:after:w-full
  }

  .sidebar-link-active {
    @apply pointer-events-none bg-gray-700 text-gray-100 relative after:content-[""] after:absolute after:bottom-0 after:h-[2px] after:bg-white after:left-0 after:w-full
  }

  .button {
    @apply text-xl px-3 py-2 text-gray-300 bg-cyan-700 rounded-xl hover:bg-cyan-600 cursor-pointer font-bold
  }

  .button-small {
    @apply px-3 py-1 mx-1 my-1 text-gray-300 bg-cyan-700 rounded-xl hover:bg-cyan-600 cursor-pointer font-bold
  }

  .custom-select{
    @apply bg-gray-500 text-gray-200 px-3 py-2 rounded-md shadow-md cursor-pointer focus:outline-none
  }
}

@layer utilities {
  .li-dot-pointer {
    @apply before:content-[""] relative after:absolute after:w-3 after:h-3 after:rounded-full after:-left-7 after:top-1/2 after:-translate-y-1/2 after:bg-gray-300
  }
}

